@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

@keyframes scaleUpDown {
    0% {
        transform: scale(0) translate(-50%, -50%);
        opacity: 0;
    }
    50% {
        transform: scale(1.2) translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        transform: scale(0) translate(-50%, -50%);
        opacity: 0;
    }
}

.hexagon {
    --hex-color: #4F75FF;
    width: 80px;
    height: 46.19px;
    background-color: var(--hex-color);
    position: absolute;
    margin: 25.6px 0;
    animation: scaleUpDown 4s forwards;
}

.hexagon::before,
.hexagon::after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}

.hexagon::before {
    bottom: 100%;
    border-bottom: 23.1px solid var(--hex-color);
}

.hexagon::after {
    top: 100%;
    border-top: 23.1px solid var(--hex-color);
}

.bg-gradient-to-r {
    background: linear-gradient(90deg,
        rgba(255, 255, 255, 1) 0%,         /* Putih */
        rgba(250, 220, 250, 1) 35%,        /* Ungu muda lebih terang lagi */
        rgba(200, 240, 255, 1) 100%        /* Biru muda yang tetap seimbang */
    );
}

/* Container Hexagon (Latar Belakang) */
.pointer-events-none {
    position: absolute;
    pointer-events: none; /* Hexagon tidak dapat diklik */
    z-index: 0; /* Hexagon berada di belakang */
}

/* Kontainer Form */
.relative.z-10 {
    position: relative;
    z-index: 10; /* Form berada di depan */
}

.bg-transparent {
    background: linear-gradient(90deg,
    rgba(255, 255, 255, 1) 0%,         /* Putih sangat lembut */
    rgba(240, 230, 250, 1) 35%,        /* Ungu muda sangat lembut */
    rgba(210, 240, 255, 1) 100%       /* Biru muda pastel */
    );

}


