@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

@keyframes scaleUpDown {
    0% {
        transform: scale(0) translate(-50%, -50%);
        opacity: 0;
    }
    50% {
        transform: scale(1.2) translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        transform: scale(0) translate(-50%, -50%);
        opacity: 0;
    }
}

.hexagon {
    --hex-color: #4F75FF;
    width: 80px;
    height: 46.19px;
    background-color: var(--hex-color);
    position: absolute;
    margin: 25.6px 0;
    animation: scaleUpDown 4s forwards;
}

.hexagon::before,
.hexagon::after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}

.hexagon::before {
    bottom: 100%;
    border-bottom: 23.1px solid var(--hex-color);
}

.hexagon::after {
    top: 100%;
    border-top: 23.1px solid var(--hex-color);
}

.bg-gradient-to-r {
    background: linear-gradient(90deg,
        rgba(255, 255, 255, 1) 0%,       
        rgba(250, 220, 250, 1) 35%,      
        rgba(200, 240, 255, 1) 100%        
    );
}

.pointer-events-none {
    position: absolute;
    pointer-events: none; 
    z-index: 0; 
}

.relative.z-10 {
    position: relative;
    z-index: 10; 
}

.bg-transparent {
    background: linear-gradient(90deg,
    rgba(255, 255, 255, 1) 0%,       
    rgba(240, 230, 250, 1) 35%,      
    rgba(210, 240, 255, 1) 100%    
    );

}


